/* ШРИФТ */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../../assets/styles/variables.scss";

:root {
  font-family: "Roboto", sans-serif;
}

/* LAYOUT */

html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;

  &--green {
    background: #eff3eb;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

h1 {
  font-size: 36px;
  margin: 60px 0px 40px 0px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

/* Модификаторы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.Black {
  font-weight: 900;
}

.Bold {
  font-weight: 700;
}

.SemiBold {
  font-weight: 600;
}

.Medium {
  font-weight: 500;
}

.Regular {
  font-weight: 400;
}

.Light {
  font-weight: 300;
}

.ExtraLight {
  font-weight: 200;
}

.Thin {
  font-weight: 100;
}

.adminH1 {
  color: #1c1c1c;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin: 0 20px 0 0;
}

.adminHeader {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 60px;

  .btns {
    align-items: center;
    display: flex;
    margin-left: 20px;

    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.admin-add-form {
  background-color: white;
  max-width: 873px;
  padding: 50px;
  position: relative;

  display: flex;
  flex-direction: column;

  &__input-title {
    font-size: 36px;
  }

  &__error {
    color: red;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  .admin-add-form {
    &__field {
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }
  }
}

.backButton {
  background-color: transparent;
  color: $salad-green;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;

  &:hover {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $salad-green;
  }
}
