@import "../../assets/styles/variables.scss";

.DefaultButton {
    color: white;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 60px;
    font-size: 18px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    width: fit-content;

    img {
        margin-right: 10px;
    }

    &-filled {
        background-color: $dark-green;
        border: 1px solid $dark-green;

        &:hover {
            background-color: $salad-green;
            border: 1px solid $salad-green;
        }
    }

    &-outlined {
        border: 1px solid white;
        background-color: transparent;

        &:hover {
            background-color: white;
            color: #3a7440;
        }
    }

    &-adminFilled {
        background-color: $dark-green;
        border: 1px solid $dark-green;
        padding: 10px 20px;

        span {
            font-weight: 600;
            font-size: 14px;
        }

        &:hover {
            background-color: $salad-green;
            border: 1px solid $salad-green;
        }
    }
}
