@import "../../assets/styles/variables.scss";

.DefaultButton {
    background-color: $dark-green;
    border: 1px solid $dark-green;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 60px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    transition: 0.4s;

    &:hover {
        background-color: $salad-green;
        border: 1px solid $salad-green;
    }
}

.OutlinedButton {
    border: 1px solid white;
    background-color: transparent;

    &:hover {
        background-color: white;
        color: #3a7440;
    }
}
