.Events {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

   
    .tableTitles {
        display: grid;
        grid-template-columns: 2fr 0.5fr 1.7fr;
        column-gap: 30px;
        font-size: 18px;
        font-weight: 600;

        &-admin {
            grid-template-columns: 2fr 0.5fr 1.7fr 30px;
        }
    }
}

@media screen and (max-width: 800px) {
    .Events {
        padding: 0px;
        background-color: transparent;
        row-gap: 40px;

        .tableTitles {
            display: none;
        }
    }
}
