.activitiesBlock {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  place-items: center;
  overflow: hidden;
  max-height: calc(264px * 2 + 50px + 50px);
  transition: all 0.4s linear;
  padding: 25px 0px 60px 0px;
}