@import "../../../assets/styles/variables.scss";

.NewsWithPaginaton {
    display: flex;
    flex-direction: column;
}

.filterActions {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    margin-bottom: 40px;

    &__Action {
        position: relative;
        background-color: white;
        display: flex;
        width: 100%;
        max-width: 564px;
        height: 60px;
        border-radius: 20px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        padding: 0px 40px;
        transition: 0.2s;

        &__SelectTag {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
        }

        &__Modal {
            position: absolute;
            top: calc(100% + 15px);
            left: 0px;
            background-color: white;
            z-index: 20;
            padding: 20px 0px;
            width: 100%;
            color: black;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 20px 20px;
        }

        .tagWrapper {
            cursor: pointer;
            transition: 0.2s;
            padding: 10px 0px 10px 40px;
            &:hover {
                color: $salad-green;
                background-color: #f1f1f1;
            }
        }

        .tag {
            width: fit-content;
        }

        img {
            width: 18px;
            user-select: none;
        }
    }

    .tagsSelector {
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        text-align: center;

        img {
            transform: rotate(-90deg) scaleX(0.8);
            opacity: 0.3;
            transition: 0.2s;
        }

        &-active {
            border-radius: 20px 20px 0px 0px;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);

            img {
                transform: rotate(90deg);
            }
        }

        &__Modal {
            visibility: hidden;
            opacity: 0;
            transition: 0.2s;
            margin-top: 20px;
            max-height: 300px;
            overflow-x: hidden;

            &-active {
                visibility: visible;
                opacity: 1;
                margin-top: 0px;
            }
        }

        p {
            line-height: 18px;
            height: 18px;
        }
    }

    .SearchBar {
        border: none;
        outline: none;
        margin-left: 10px;
        width: 100%;
        font-size: 18px;

        &::placeholder {
            color: #666666;
            font-size: 18px;
            font-weight: 300;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button {
            filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(87%)
                contrast(90%);
        }
    }
}

.pagination {
    background-color: white;
    display: flex;
    padding: 20px 60px;
    margin-top: 40px;
    justify-content: space-between;
    width: 100%;
    max-width: 563px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    &__btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: transparent;
        color: #666666;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        transition: 0.2s;

        img {
            height: 15px;
        }

        &-currentPage {
            color: $salad-green;
        }

        &:hover {
            background-color: #f1f1f1;
            border-radius: 20px;
        }
    }

    .mirroredArrow {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 800px) {
    .filterActions {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;

        &__Action {
            padding: 0px 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .pagination {
        padding: 20px 20px;

        &__btn {
            font-size: 18px;
            line-height: 18px;
        }

        img {
            height: 12px;
        }
    }


}
