.imgContainer {
    cursor: pointer;

    img {
        transition: 0.2s;
        height: 100%;
        width: 100%;
        object-fit: cover;

        &:hover {
            filter: brightness(95%);
        }
    }
}
