@import "../../assets/styles/variables.scss";

.DefaultButton {
    align-items: center;
    background-color: $dark-green;
    border: 1px solid $dark-green;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    transition: .4s;
    text-decoration: none;

    &:hover{
        background-color: $salad-green;
        border: 1px solid $salad-green;
    };

    img {
        margin-right: 10px;
    }
}
