@import "../../assets//styles/variables.scss";

.sliderBlock {
    background-color: white;
    margin-top: 60px;
    padding: 60px 0px;
}

.imgContainer{
    height: 130px;
    max-width: 250px;
}

// .bullets {
//     margin-top: 20px;
//     display: flex;
//     justify-content: center;
// }

// .custom-bullet {
//     background: $salad-green;
//     width: 1rem;
//     height: 1rem;
//     border-radius: 0.5rem;
//     opacity: 1;
// }
