.sliderBlock {
    background-color: white;
}

.imgContainer {
    height: 130px;
}

.slider {

}

.slide {
    display: block;
    height: 130px;
    margin-right: 50px;
    width: fit-content;

    &:focus {
        outline: none;
    }

    img {
        height: 100%;
        width: auto;
    }
}

