.activitiesBlock {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    place-items: center;
}

@media screen and (max-width: 1200px) {
    .activitiesBlock {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .activitiesBlock {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .activitiesBlock {
        grid-template-columns: 1fr;
    }
}
