@import "../../assets/styles/global.scss";
@import "../../assets/styles/variables.scss";

html {
    font-size: 20px;
}

.About {
    background-color: white;
    border-radius: 100px;
    margin: 60px 0px;
    &__Block {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        align-items: center;
        column-gap: 70px;
        padding: 70px 70px 120px 70px;
        position: relative;

        &__Subblock {
            width: 100%;
        }
    }

    .Title {
        text-transform: uppercase;
        p:first-child {
            font-size: 3.25rem;
            line-height: 3.25rem;
            margin-bottom: 20px;
        }
        p:last-child {
            font-size: 2.4rem;
            line-height: 2.4rem;
            min-width: 19ch;
        }
    }

    .Achievements {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-top: 25px;

        &__Single {
            display: flex;
            align-items: center;
            column-gap: 10px;

            .BigNumber {
                font-size: 2.5rem;
            }

            .AchievementInfo {
                font-size: 1.8rem;
            }
        }
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 10px;
        max-width: 30ch;
    }

    &__BossBlock {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__Img {
            user-select: none;
        }
        &__FIO {
            margin-top: 10px;
            p:first-child {
                text-transform: uppercase;
                font-size: 2.15rem;
                line-height: 2.15rem;
            }
            p:last-child {
                font-size: 1.05rem;
                line-height: 1.05rem;
            }
        }

        &__Position {
            font-size: 1rem;
            margin-top: 5px;
        }
    }

    .Wave {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #waveWhite {
        filter: brightness(0) saturate(100%) invert(100%);
        transform: rotateY(180deg);
    }

    .Stories {
        background-color: $salad-green;
        color: white;
        .Story-Left {
            p:first-child {
                margin-bottom: 60px;
            }
        }

        .Story-Right {
            p:nth-child(2) {
                margin-bottom: 60px;
            }
        }
    }

    .Paragraph {
        font-size: 18px;
        text-indent: 40px;
    }
}

.underWave {
    padding-top: 0px;
    align-items: baseline;

    &:last-child {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1070px) {
    html {
        font-size: 15px;
    }
    .About__BossBlock__Img {
        height: 250px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 20px;
    }

    .About {
        &__Block {
            grid-template-columns: 1fr;
            row-gap: 70px;

            &__Subblock {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__BossBlock {
            &__Img {
                user-select: none;
                height: 300px;
            }
            &__FIO {
                margin-top: 10px;
                p:first-child {
                    font-size: 42px;
                    line-height: 42px;
                }
                p:last-child {
                    font-size: 21px;
                    line-height: 21px;
                }
            }

            &__Position {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 15px;
    }

    .About {
        border-radius: 20px;

        &__Block {
            padding: 70px 30px 80px 30px;
        }

        .Achievements {
            row-gap: 10px;
        }
    }

    &__BossBlock__Img {
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 11px;
    }

    .About {
        &__Block {
            padding: 70px 30px 60px 30px;
        }

        .Achievements {
            row-gap: 10px;
        }

        &__BossBlock {
            &__Img {
                height: 200px;
            }
            &__FIO {
                margin-top: 10px;
                p:first-child {
                    font-size: 32px;
                    line-height: 32px;
                }
                p:last-child {
                    font-size: 16px;
                    line-height: 15px;
                }
            }

            &__Position {
                font-size: 14px;
            }
        }
    }

    .Stories {
        .Story-Left {
            p:first-child {
                margin-bottom: 30px;
            }
        }

        .Story-Right {
            p:nth-child(2) {
                margin-bottom: 30px;
            }
        }
    }

    .underWave {
        padding-top: 30px;

        &:last-child {
            padding-bottom: 30px;
        }
    }
}

@media screen and (max-width: 370px) {
    html {
        font-size: 9px;
    }
}
