@import "../../assets/styles/variables.scss";
@import "../../assets/styles/global.scss";

.CallFormWrapper {
    background-color: white;
}

.CallForm {
    background-color: $light-green;
    border-radius: 20px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    position: relative;

    .closeBtn {
        display: none;
    }

    .formTitle {
        font-size: 24px;
        font-weight: 600;
    }

    .labeledInput {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        span {
            font-size: 18px;
        }
    }

    &__Inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 30px 0px;
    }

    .input,
    .textarea {
        background-color: white;
        padding: 11px 20px;
        font-size: 24px;
        border: none;
        transition: all 0.4s;
        border: 1px solid white;

        &::placeholder {
            color: #999999;
            font-weight: 200;
        }

        &:focus,
        &:active {
            outline: none;
            border: 1px solid $salad-green;
            border-radius: 20px;
        }
    }

    .textarea {
        resize: none;
        height: 130px;
    }

    #textAreaBlock {
        grid-column: 1/-1;
    }

    button {
        align-self: center;
        background-color: $salad-green;
        border: 1px solid $salad-green;

        &:hover {
            background-color: $dark-green;
        }
    }
}

.checkMark {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 20px 0px 20px 0px;
    border: 1px solid #ececec;
    opacity: 0;

    span {
        color: $salad-green;
        font-size: 20px;
        margin-left: 10px;
    }

    &-active {
        animation: checkMarkAnimation 5s;
    }
}

.closeBtn {
    height: 25px;
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
}

@keyframes checkMarkAnimation {
    10% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}

@media screen and (max-width: 800px) {
    .CallForm__Inputs {
        grid-template-columns: 1fr;
    }

    .CallForm {
        padding: 40px 30px;

        .textarea {
            height: 260px;
        }
    }
}

@media screen and (max-width: 450px) {
    .CallForm {
        padding: 40px 20px;
        .input,
        .textarea {
            padding: 11px 10px;
            font-size: 20px;
        }

        .textarea {
            height: 150px;
        }

        &__Inputs {
            column-gap: 20px;
        }
    }
}

@media screen and (max-height: 750px) {
    .CallForm {
        padding: 15px 15px;

        .formTitle {
            font-size: 22px;
        }

        .input,
        .textarea {
            padding: 7px 7px;
            font-size: 18px;
        }

        .textarea {
            height: 150px;
        }

        &__Inputs {
            row-gap: 10px;
            margin: 20px 0px;
        }
    }
}

@media screen and (max-height: 600px) {
    .CallForm {
        padding: 12px 12px;

        .formTitle {
            font-size: 18px;
        }

        .input,
        .textarea {
            padding: 7px 7px;
            font-size: 16px;
        }

        .textarea {
            height: 120px;
        }
    }
}
