@import "../../../assets/styles/variables.scss";

.sliderBlock {
    display: flex;
    max-width: 893px !important;
    flex-direction: column;
    background-color: white;
    row-gap: 40px;
    padding: 20px 20px 50px 20px !important;
}

#sliderInput {
    cursor: pointer;
}

.sliderInputContainer {
    height: 60px;
}

.inputLabel {
    max-width: fit-content;
    border: 2px solid $salad-green;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: $salad-green;
        color: white;
    }
}

.slider {
    background-color: white;
    max-height: 416px;
}

.slide {
    display: block;
    margin-right: 50px;
    width: fit-content;
    position: relative;
    &:focus {
        outline: none;
    }

    img {
        height: 100%;
        max-height: 200px;
        width: auto;
    }
}

.closeSlideBtn {
    height: 15px !important;
    width: 15px !important;
    position: absolute;
    top: 0px;
    right: 30px;
    
    cursor: pointer;
}

.controlButtons {
    position: relative;
    display: flex;
    justify-content: end;
    column-gap: 30px;
    margin-top: 40px;
}

@media screen and (max-width: 930px) {
    .slider {
        width: calc(100vw - 70px);
    }
}
