@import "../../assets/styles/variables.scss";

.Header {
    box-shadow: rgba(0, 0, 0, .1) 0px 0px 20px;
    padding: 30px 0px;
    position: relative;

    &__Container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
    }
    
    &__Top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__Call {
            position: relative;
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }

    &__Navigation {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 20px;
        transition: .3s;
    }

    &__Link {
        display: flex;
        justify-content: center;
        border: 1px solid $salad-green;
        padding: 13px 0px;
        color: $salad-green;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        transition: .2s;

        &:hover {
            background-color: $salad-green;
            color: white;
        }
    }
}

.PhoneNumber {
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;

    img {
        display: none;
    }
}

.Burger {
    height: 35px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    transition: .2s;

    div {
        background-color: rgb(160, 160, 160);
        width: 100%;
        height: 3px;
        border-radius: 3px;
        transition: .2s;
    }
}

.burgerOpen {
    transition: .3s;
    background-color: #fff;
    div:nth-child(1) {
        transform: translateY(12px) rotate(-45deg);
    }
    div:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
    }
    div:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
    }
}

@media screen and (max-width: 1200px) {
    .Burger {
        display: flex;
    }

    .Header__Navigation {
        opacity: 0;
        transform: translateX(100%);
        margin-right: -15px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
        grid-template-columns: minmax(300px, 30vw);
        height: 70vh;
        align-self: flex-end;
        grid-row-gap: 0px;
        position: absolute;
        top: calc(100% + 30px);

        .Header__Link {
            border: none;
            justify-content: right;
            align-items: center;
            padding-right: 20px;
        }
    }
}

.menuOpen {
    opacity: 1;
    transform: translateX(0%);
}

@media screen and (max-width: 900px) {
    .PhoneNumber {
        img {
            display: block;
        }
        span {
            display: none;
        }
    }
}

@media screen and (max-width: 720px) {
    .Header__Top__Call {
        button:first-child {
            display: none;
        }
    }
}

@media (max-width: 420px) {
    .PhoneNumber {
        display: none;
    }

    .Header__Top > img {
        width: 230px;
    }
}
