@import "../../assets/styles/variables.scss";

.Documents {
    background-color: white;
    border-radius: 20px;
    padding: 30px 50px;
    margin-bottom: 60px;

    &__TitleBlock {
        display: flex;
        column-gap: 7px;
        position: relative;
        .title {
            margin-bottom: 30px;
            width: fit-content;
        }

        .editBtn {
            width: 33px;
            height: 33px;
            background-color: transparent;
            border: none;
            display: grid;
            place-items: center;
            transition: 0.2s all;

            &:hover {
                background-color: #e6e6e6;
                border-radius: 50%;
            }
        }

        .deleteBtn {
            background-color: transparent;
            border: none;
            color: #ffcece;
            height: 25px;
            border-bottom: 1px solid #ffcece;
            padding-bottom: 26px;
            transition: 0.2s;
            justify-self: flex-end;
            position: absolute;
            right: 0px;

            &:hover {
                color: $error-color;
                border-color: $error-color;
            }
        }
    }

    &__Grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: 30px;
        justify-content: space-between;

        .addDocBtn {
            background-color: transparent;
            color: $salad-green;
            border: 1px solid $salad-green;
            padding: 5px 0px;
            transition: 0.2s;

            &:hover {
                background-color: $salad-green;
                color: white;
            }
        }
        .docWithDeleteBtn {
            display: flex;
            column-gap: 5px;
            .deleteDocBtn {
                background-color: transparent;
                border: none;
                width: 8px;
                height: 8px;
            }
        }
    }

    &__Single {
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
        transition: 0.4s;

        &:hover {
            color: $salad-green;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .DocLink {
        text-decoration: none;
        font-size: 14px;
        color: $dark-green;
    }

    .linkImg {
        margin-top: 6px;
        transition: 0.4s;
    }
}

@media screen and(max-width:800px) {
    .Documents__Grid {
        grid-template-columns: 1fr;
    }

    .Documents__Single {
        max-width: 100%;
    }
}

@media screen and(max-width:500px) {
    .Documents {
        padding: 15px 30px;
    }
}
