@import "../../../assets/styles/variables.scss";

.News {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;

    &__MainInfo {
        background-color: white;
        width: 100%;
        max-width: 866px;
        border-radius: 20px;
        padding: 50px;
        height: fit-content;

        &__Head {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__OtherNews {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .Title {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
    }

    .previewText {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .News {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

@media screen and (max-width: 750px) {
    .News {
        &__MainInfo {
            padding: 30px;
            &__Head {
                display: flex;
                flex-direction: column;
                flex-flow: column-reverse;
                row-gap: 40px;
            }
        }
    }
}
