@import "../../../assets/styles/variables.scss";

.News {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;

    &__MainInfo {
        background-color: white;
        position: relative;
        width: 100%;
        max-width: 866px;
        padding: 60px 50px 50px 50px;
        height: fit-content;

        &__Head {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__OtherNews {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        background-color: white;
        width: 278px;
        padding: 20px;
        align-items: center;
        height: fit-content;
        padding: 40px 20px;

        &__Header {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            border-bottom: 1px solid #c4c4c4;
            width: 100%;
            text-align: center;
        }

        .otherNewsSingle {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            color: #707070;

            img {
                max-width: 200px;
                border-radius: 20px 0px 20px 0px;
            }
            p {
                font-size: 20px;
                font-weight: 700;
                transition: 0.2s;
            }

            &:hover {
                color: $salad-green;
                cursor: pointer;
            }
        }
    }

    .Title {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
    }

    .previewText {
        font-size: 18px;
        margin-top: 30px;
    }

    .tagsWrapper {
        margin-top: 10px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .tag {
        color: $salad-green;
        border: 1px solid $salad-green;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 14px;
        min-width: 70px;
        text-align: center;
        transition: 0.2s;
        text-decoration: none;

        &:hover {
            background-color: $salad-green;
            color: white;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1200px) {
    .News {
        justify-content: center;

        &__OtherNews {
            display: none;
        }
    }
}
@media screen and (max-width: 500px) {
    .News__MainInfo {
        padding: 60px 30px 40px 30px;
    }
}
