.expandActivitiesBtn {
    margin-top: 40px;
    cursor: pointer;
    border-bottom: 1px solid #b0b0b0;
    transition: all 0.2s ease-in-out;
    padding-bottom: 10px;
    margin-bottom: 60px;
    .expandText {
        display: flex;
        justify-content: center;

        color: #b0b0b0;
        text-transform: uppercase;
        font-size: 18px;
        transition: all 0.2s ease-in-out;
    }

    .arrowImg {
        transition: all 0.2s ease-in-out;
        margin-left: 10px;
    }

    &:hover {
        padding-bottom: 20px;
        .arrowImg {
            margin-left: 20px;
        }
    }
}

.hideActivities {
    img {
        transform: rotate(180deg);
    }
}

