@import "../../../../assets/styles/variables.scss";

.TagsContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.Selector {
    position: relative;

    .MenuItems {
        position: absolute;
        left: 0;
        top: 33px;
        background-color: rgb(243, 243, 243);
        z-index: 20;
        padding: 10px 0px;
        flex-direction: column;
        border-radius: 0px 0px 10px 10px;
        display: none;
        width: 150px;
        &-active {
            display: flex;
        }

        &__Single {
            padding: 5px 10px;
            transition: 0.2s;
            border: none;
            outline: none;
            background-color: rgb(243, 243, 243);

            &:hover {
                background-color: rgb(214, 214, 214);
            }
        }
    }
}

.tag {
    color: $salad-green;
    border: 1px solid $salad-green;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    min-width: 70px;
    text-align: center;
    transition: 0.2s;
    text-decoration: none;
    position: relative;

    &__Remove {
        height: 12px;
        width: 12px;
        position: absolute;
        top: -10px;
        right: -5px;
        cursor: pointer;
    }

    &:hover {
        background-color: $salad-green;
        color: white;
        cursor: pointer;
    }
}

.addBtn {
    width: 150px;
    border-radius: 0;
    color: $salad-green;
    border: 1px solid $salad-green;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    transition: 0.2s;
    position: relative;
    outline: none;
}
