.search {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 2px;
  display: flex;

  img {
    margin-right: 14px;
    width: 12px;
  }

  input {
    background: none;
    border: none;
    color: #959595;
    font-size: 14px;
    line-height: 1;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.AdminOutlinedButton {
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #565656;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  column-gap: 10px;

  &:hover{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
}
